img {
  width: 600px;
  position: absolute;
  top: 100px;
  left: 600px;
}
@media only screen and (max-width: 600px) {
  img {
    width: 400px;
    position: absolute;
    left: 80px;
    top: 240px;
  }
}
